<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
   id="dk.dtu.compute.mbse.yawl.ptnd"
   name="YAWL Nets"
   point="org.pnml.tools.epnk.pntd">
   <type
   	class="dk.dtu.compute.mbse.yawl.impl.YAWLNetImpl"
   	describtion="YAWL Nets" />

	</extension>
	
	<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <!-- TODO this should be refering to the URI of your YAWL net model -->
         <package
               namespaceUri="http://www2.compute.dtu.dk/courses/02341/f17/index.shtml">
         </package>
         <constraints categories="org.pnml.tools.epnk.validation">
            <constraint
                  id="dk.dtu.compute.mbse.yawl.validation.correct-arc-connection"
                  lang="OCL"
                  mode="Live"
                  name="Arc connection constraint for YAWL nets"
                  severity="ERROR"
                  statusCode="401">
               <message>
                  The arc {0} with this arc type is not allowed between these elements.
               </message>
               <description>
                  Arcs must be between a place and a transition, a transition and a place, or
                  between two transitions. Only arcs between a place and a transition may have
                  a type! 
               </description>
               <!-- TODO the class the constraint refers to: the Arc of your YWAL Ecore model,
                    the class name and the URI of the packake separated by a colon -->
               <target class="Arc:http://www2.compute.dtu.dk/courses/02341/f17/index.shtml">
                  <!-- since this is a live constraint, you need to tell the
                       validator when to check the constraint: in terms of events here
                       we use set events on the following features -->
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <!-- TODO the feature "type" is the reference to the Attribute defining the type
                          of the arc) -->
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>
               <![CDATA[
                 ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) )
                 or
                 ( self.source.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.arctype->size() = 0 )
               ]]>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="dk.dtu.compute.mbse.yawl.constraints.StartEndConditions"
                  severity="ERROR"
                  mode="Batch"
                  name="One start and end place"	
                  id="dk.dtu.compute.mbse.yawl.validation.one-start-and-end-place"
                  statusCode="402">
               <target class="YAWLNet:http://www2.compute.dtu.dk/courses/02341/f17/index.shtml"/>
               <description>
                  A YAWL net must have one start and end place.
               </description>
               <message>
                  The YAWL net {0} does not have exactly one start place and one end place.
               </message>
               
            </constraint>
            
         </constraints>
         
      </constraintProvider>
   </extension>
	
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawl -->
      <package
            uri="http://www2.compute.dtu.dk/courses/02341/f17/index.shtml"
            class="dk.dtu.compute.mbse.yawl.YawlPackage"
            genModel="model/yawl.genmodel"/>
   </extension>

</plugin>
