<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://epnk.tools.pnml.org/tutorials/app/technical"
            class="org.pnml.tools.epnk.tutorials.app.technical.TechnicalPackage"
            genModel="model/technical.genmodel"/>
   </extension>
   
   <extension
      id="org.pnml.tools.epnk.tutorials.app.pntd"
      name="Technical Net Type (for app tutorial)"
      point="org.pnml.tools.epnk.pntd">
      <type
         class="org.pnml.tools.epnk.tutorials.app.technical.impl.TechnicalNetTypeImpl"
         description="Technical Net Type for ePNK app tutorial" />
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://epnk.tools.pnml.org/tutorials/app/technical">
         </package>
         <constraints categories="org.pnml.tools.epnk.validation">
            <constraint
                  id="org.pnml.tools.epnk.tutorials.app.pntd.validation.correct-arc-connection"
                  lang="OCL"
                  mode="Live"
                  name="Arc connection constraint for Technical Net"
                  severity="ERROR"
                  statusCode="401">
               <message>
                  The arc {0} with this arc type is not allowed between these elements.
               </message>
               <description>
                  Arcs must be between a place and a transition, a transition and a place, or
                  between two transitions. Only arcs between a place and a transition may have
                  a type! 
               </description>
               <target
                     class="Arc:http://epnk.tools.pnml.org/tutorials/app/technical">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>            
               <![CDATA[
                 ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) )
                 or
                 ( self.source.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.type->size() = 0 )
                 or
                 ( self.source.oclIsKindOf(pnmlcoremodel::Page) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.type->size() = 0 )
               ]]>
            </constraint>
            <constraint
                  lang="Java"
                  class="org.pnml.tools.epnk.tutorials.app.technical.constraints.NoDuplicateArcs"
                  severity="ERROR"
                  mode="Batch"
                  name="No duplicate arcs"
                  id="org.pnml.tools.epnk.tutorials.app.technical.validation.no-duplicate-arcs"
                  statusCode="402">
               <target class="Arc:http://epnk.tools.pnml.org/tutorials/app/technical"/>
               <message>
                  The arc {0} is a duplicate arc.
               </message>
               <description>
                  Arcs of the same type (read or inhibitor) are not allowed between the same nodes.
               </description>
            </constraint>            
         </constraints>
      </constraintProvider>
   </extension>   

</plugin>
